[user]
	name = Sahel Mohammad Iqbal
	email = sahel13miqbal@protonmail.ch
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
