[user]
  name = Sahel Mohammad Iqbal
  email = sahel13miqbal@proton.me
[core]
  editor = nvim
  excludesfile = /home/sahel/.gitignore_global
[init]
  defaultBranch = main
[pull]
  rebase = false
[github]
  user = Sahel13
